.asideNavBar {
  display: flex;
  background-color: #415a77;
}
.asideNavBar nav {
  position: fixed;
  left: 0;
  height: 100vh;
  background-color: #415a77;
}
.asideNavBar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  border: 1px solid black;
}
.asideNavBar ul li {
  border-bottom: 1px solid black;
  width: 100%;
  list-style: none;
  text-align: center;
}
.asideNavBar ul li button {
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #415a77;
}
.asideNavBar ul li button img {
  width: 30px;
  height: 30px;
}
